<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <p>Repertorio - {{repertorio.data}}</p>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-item-divider color="primary">
      <ion-icon slot="start" color="light" name="clipboard"></ion-icon>
      <ion-label>Dados Gerais</ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <label>Código:</label>
          <div class="dado">{{repertorio.id}}</div>
        </ion-col>
        <ion-col>
          <label>Responsável:</label>
          <div class="dado">{{repertorio.criador}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-item-divider color="primary">
      <ion-icon slot="start" color="light" name="clipboard"></ion-icon>
      <ion-label>Musicas:</ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item *ngFor="let musica of repertorio.musicasRepertorio; index as i;"
                    [routerLink]="['/musica', musica.musica.id]" routerDirection="forward">
                    {{musica.musica.nome}} - {{musica.musica.grupo.nome}}
                    <ion-note slot="end">{{musica.musica.notaTocada}}</ion-note>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-item-divider color="primary">
      <ion-icon slot="start" color="light" name="clipboard"></ion-icon>
      <label>Equipe do dia:</label>
    </ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-note slot="start">Ministros: </ion-note>
            <div *ngFor="let ministro of repertorio.equipeDoDia.ministro; index as i;">
              <p> {{ministro}} - &nbsp;</p>
            </div>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Violonista: </ion-note>
            <p>{{repertorio.equipeDoDia.violonista}}</p>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Tecladista: </ion-note>
            <p>{{repertorio.equipeDoDia.tecladista}}</p>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Guitarrista: </ion-note>
            <p>{{repertorio.equipeDoDia.guitarrista}}</p>
          </ion-item>
          <ion-item>
            <ion-note slot="start">Baterista: </ion-note>
            <p>{{repertorio.equipeDoDia.baterista}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-row>
    <ion-col>
      <p><strong>Total de Músicas: {{repertorio.totalMusicas}}</strong></p>
    </ion-col>
  </ion-row>
</ion-content>