<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <p>Repertorio - {{repertorio.data}}</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <label>Código:</label>
          <div class="dado">{{repertorio.id}}</div>
        </ion-col>
        <ion-col>
            <label>Código:</label>
            <div class="dado">{{repertorio.id}}</div>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>