<ion-content padding class="animated fadeIn login backlogo">
  <div class="backlogo">
      <h2>Polícia Militar do Distrito Federal</h2>
  </div>
  
  <div class="login-content">
    <div padding-horizontal text-center class="animated fadeInDow">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form class="list-form">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="card" item-start class="text-primary"></ion-icon>
          Usuário:
        </ion-label>
        <ion-input type="text" [(ngModel)]="creds.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha:
        </ion-label>
        <ion-input type="password" [(ngModel)]="creds.password" name="password"></ion-input>
      </ion-item>
      </ion-list>
      <br><br><br>
      <div>
        <ion-button expand="block" (click)="login()">
          <ion-icon name="log-in"></ion-icon>
           &nbsp;ENTRAR
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>