<ion-header translucent>
    <ion-toolbar color="dark">
      <ion-title>Novo grupo</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="formGroup">
      <ion-card>
        <ion-item-divider color="primary">
          <ion-icon slot="start" color="light" name="clipboard"></ion-icon>
          <ion-label>Novo</ion-label>
        </ion-item-divider>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-row>
            <ion-col size="3">
              <ion-item>
                <ion-label position="stacked">ID<ion-text color="primary"></ion-text>
                </ion-label>
                <ion-input disabled type="text" formControlName="id" [(ngModel)]="grupo.id" name="id"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Nome<ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="nome" [(ngModel)]="grupo.nome" name="nome"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card>
    </form>
    <ion-button padding expand="block" (click)="novoGrupo()">
      Salvar</ion-button>
    <ion-item-divider>
    </ion-item-divider>
  </ion-content>
