<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip color="light">
        <ion-label>Sair</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar>
    <ion-searchbar #pesquisa (keyup)="getPesquisa(pesquisa.value)" placeholder="Pesquisa" color="dark" cancelButtonText="Cancelar">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let musica of musicas " [routerLink]="['/musica', musica.id]" routerDirection="forward">
      <ion-label>{{musica.nome}}</ion-label>
      <ion-note slot="start">{{musica.id}}</ion-note>
      <ion-note slot="end">{{musica.grupo}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>