<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Início
    </ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-chip color="light">
        <ion-label>Sair</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="welcome-card">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-subtitle>Olá,</ion-card-subtitle>
        <ion-card-title>Seja bem-vindo <strong>{{usuario?.pessoa?.nome}}</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>
          <h2>Repertório da Semana:</h2>
        </ion-label>
      </ion-list-header>
      <ion-card *ngFor="let repertorio of repertorios" [routerLink]="['/repertorio', repertorio.id]"
        routerDirection="forward">
        <div>
          <ion-item-divider color="primary">
            <ion-icon slot="start" color="light" name="clipboard"></ion-icon>
            <ion-label>{{repertorio?.data}}</ion-label>
          </ion-item-divider>
          <ion-grid>
            <ion-row>
              <ion-col>
                <label>Musicas:</label>
                <ion-item *ngFor="let musica of repertorio.musicasRepertorio; index as i;">
                  {{musica.musica.nome}} - {{musica.musica.grupo.nome}}
                  <ion-note slot="end">{{musica.musica.notaTocada}}</ion-note>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p><strong>Total de Músicas: {{repertorio.totalMusicas}}</strong></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>

    </ion-list>
  </div>

</ion-content>