<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-title>Grupos</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="danger" [routerLink]="['/novogrupo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <br>
  <ion-toolbar>
    <ion-searchbar placeholder="Pesquisa" showCancelButton="focus" color="dark" cancelButtonText="Cancelar">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let grupo of grupos" routerDirection="forward">
      <ion-label>{{grupo.nome}}</ion-label>
      <ion-note slot="end">
        <ion-buttons>
          <ion-chip [routerLink]="['/editargrupo', grupo.id]">
            <ion-label>Editar</ion-label>
          </ion-chip>
        </ion-buttons>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>